# Ignore entire directories
node_modules/
dist/
build/

# Ignore specific files
*.min.js
*.min.css

# Ignore locales
*.po

# Ignore files based on wildcard patterns
**/vendor/**/*.js
pnpm-lock.yaml
patches/

# Ignore codegen
*.gen.ts

# Ignore agents
.claude
.cursor
.gstack

# Next applications
apps/**/.next/
